body {
  color: white;
}

a {
  cursor: pointer;
}
a.nav-link {
  background-color: $primary-color;
  color: white !important;
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
}

.btn-primary {
  &:hover,
  &:focus {
    background-color: $primary-color !important;
    color: $black-color;
    border-color: $primary-color;
  }
  border-color: $primary-color;
  background-color: $primary-color;
}

.login {
  background-color: $grey-color;
  border-bottom: 10px solid $primary-color;
  .link {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $black-color;
    }
  }
}

.feedback-box {
  border-radius: 30px;
}
.custom-control-label {
  font-size: 16px;
}
.custom-control-label:before {
  background-color: $black-color;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-color;
}

.bg-black {
  background-color: $black-color;
}
.score {
  h3 {
    color: white;
    position: absolute;
    top: 45%;
    left: 36%;
    font-weight: 700 !important;
  }
}

.paricipate {
  p,
  h1 {
    color: $black-color;
  }
  p {
    font-size: 40px;
  }
}

.activity,
.agenda {
  h1,
  h3,
  strong {
    color: $black-color;
  }
}

.activity {
  background-color: $light-grey;
  strong {
    color: white;
  }
  p {
    font-size: 30px;
  }
}

.btn-square {
  border-radius: 0;
}

.answer-data {
  label {
    display: -webkit-box;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    input {
      position: absolute;
      left: -9999px;
    }
    span {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em;
      -webkit-transition: 0.25s ease;
      transition: 0.25s ease;
      width: 100%;
      background-color: #333333;

      &::before {
        display: -webkit-box;
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #1b1b1b;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        -webkit-transition: 0.25s ease;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em #1b1b1b;
      }

      &:hover {
        background-color: #424242;
      }
    }
  }
}

.answer-data label input:checked + span {
  background-color: #1b1b1b;
  width: 100%;
}
.answer-data label input:checked + span:before {
  background-color: $primary-color;
}

img {
  max-width: 100%;
}
.theme-box {
  padding: 1rem;
  background-color: $primary-color;
}
.bg-white {
  background-color: white;
  color: $black-color;
}

iframe {
  border: none;
}
.btn-radius {
  border-radius: 30px;
  font-weight: 700;
  font-size: 20px;
}
.agenda {
  background-color: $dark-black;
  h4,
  strong {
    color: white;
  }
}
.remainings {
  background-color: $dark-black;
}
