body {
  color: white;
}

a {
  cursor: pointer;
}
a.nav-link {
  background-color: $primary-color;
  color: white !important;
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
}

.btn-primary {
  &:hover,
  &:focus {
    background-color: $primary-color !important;
    color: $black-color;
    border-color: $primary-color;
  }
  border-color: $primary-color;
  background-color: $primary-color;
}

.login {
  background-color: $grey-color;
  border-bottom: 10px solid $primary-color;
  .link {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $black-color;
    }
  }
}

.feedback-box {
  border-radius: 30px;
}
.custom-control-label {
  font-size: 16px;
}
.custom-control-label:before {
  background-color: $black-color;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: $primary-color;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary-color;
}

.bg-black {
  background-color: $black-color;
}
.score {
  h3 {
    color: white;
    position: absolute;
    top: 45%;
    left: 36%;
    font-weight: 700 !important;
  }
}

.paricipate {
  p,
  h1 {
    color: $black-color;
  }
  p {
    font-size: 40px;
  }
}

.activity,
.agenda {
  h1,
  h3,
  strong {
    color: $black-color;
  }
}

.activity {
  background-color: $light-grey;
  strong {
    color: white;
  }
  p {
    font-size: 30px;
  }
}
