<app-main-cointainer>
    <div class="d-flex justify-content-center">
        <div class="login p-3 pt-5 col-12 col-md-6 col-xl-4">
            <h4 class="mb-3">Change Password</h4>

            <form class="w-100" [formGroup]="passwordForm">
                <div *ngIf="submitted && success" class="alert alert-info feedback-box">
                    <h4>Done Successfully </h4>
                </div>
                <div *ngIf="submitted && passwordForm.invalid" class="alert-danger p-3 feedback-box">
                    <ul>
                        <!-- <li *ngIf="submitted">{{error}}</li> -->
                        <li *ngIf="passwordForm.controls['current_password'].errors?.required">The Current Password
                            field is required.
                        </li>
                        <li *ngIf="passwordForm.controls['password'].errors?.required">The Password field is required.
                        </li>
                        <li *ngIf="passwordForm.controls['re_password'].errors?.required">The Re-New password field is
                            required.
                        </li>
                        <li *ngIf="passwordForm.controls['current_password'].errors?.minlength">The Current Password
                            must be at least 6 characters.</li>
                        <li *ngIf="passwordForm.controls['password'].errors?.minlength">The Password must be at
                            least 6 characters.</li>
                        <li *ngIf="passwordForm.controls['re_password'].errors?.minlength">The Re-New password must be
                            at least 6 characters.</li>
                        <li *ngIf="passwordForm.controls['re_password'].errors?.mustMatch">The Re-New password must be
                            matched</li>
                    </ul>
                </div>

                <input type="password" autocomplete="on" formControlName="current_password" class="form-control mt-4"
                    aria-label="Current Password" placeholder="Current Password">

                <input type="password" autocomplete="on" formControlName="password" class="form-control mt-4"
                    aria-label="Password" placeholder="Password">

                <input type="password" autocomplete="on" formControlName="re_password" class="form-control mt-4"
                    aria-label="Re-New password" placeholder="Re-New password">

                <div class="d-flex justify-content-start">
                    <button class="btn btn-primary mt-3" (click)="changePassword()" title="Change Password">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</app-main-cointainer>