<div class="login p-5">
    <h1 class="text-center" *ngIf="ishomePage">Registration</h1>
    <h1 class="text-center" *ngIf="!ishomePage">Login Account</h1>
    <form class="w-100" [formGroup]="loginForm">
        <div *ngIf="submitted && loginForm.invalid" class="alert-danger p-3 feedback-box">
            <ul>
                <li *ngIf="loginForm.controls['email'].errors?.required">The email field is
                    required.
                </li>
                <li *ngIf="loginForm.controls['email'].errors?.email">The email field is not
                    valid.
                </li>
                <li *ngIf="loginForm.controls['password'].errors?.required">The password field is
                    required.
                </li>
                <li *ngIf="loginForm.controls['password'].errors?.minlength">The password must be at
                    least
                    6
                    characters.</li>
            </ul>
        </div>

        <div class="input-filed mt-5">
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" aria-describedby="emailHelp"
                    placeholder="Email Address">
            </div>
        </div>
        <div class="input-filed mt-4">
            <div class="form-group">
                <input autocomplete="on" formControlName="password" type="password" class="form-control"
                    placeholder="Password">
            </div>
            <!-- <span class="feedback-msg text-danger" *ngIf="loginForm.hasError('pattern', ['password'])">
                    password is not valid
                </span> -->
        </div>
        <button class="btn btn-primary w-100 mt-3" (click)="login()" title="Login Account">
            Login Account
        </button>
        <div class="d-flex justify-content-center mt-5">
            <a class="link" routerLink="/auth/signup" title="Create New Account">Create New Account</a>
        </div>
    </form>
</div>