@import "../../../assets/scss/vars.scss";

.login {
  background-color: $grey-color;
  border-bottom: 10px solid $primary-color;
  .link {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $black-color;
    }
  }
}
