<div class="content">
    <div class="d-flex justify-content-between">
        <div>
            <h1>
                <a routerLink="">Think Smarter Instead <br />
                    Of Lenovo Channel Drive</a>
            </h1>
        </div>

        <div>
            <h4>Smarter
                Technology
                For All</h4>
            <div><img width="40" src="/assets/images/lenovo.png" alt=""></div>
        </div>

    </div>
    <div class="main-content">
        <ng-content></ng-content>
    </div>
    <div class="d-flex justify-content-start">
        windows 10
    </div>
</div>